---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import JournalItemHome from "../components/JournalItemHome.astro";

import { Font } from "astro:assets";

import { actions } from "astro:actions";
import PageHeader from "../components/PageHeader.astro";
import { getEntry } from "astro:content";

const result = Astro.getActionResult(actions.sendEmail);

const testJournal = await getEntry("journal", "test");

export const prerender = false;
---

<Layout title="Nishant Bhagat">
  <Font cssVariable="--roboto" preload />
  <Font cssVariable="--noto-serif" />
  <Navbar />
  <main class="px-4 max-w-screen-sm mx-auto">
    <section id="hero" class="flex flex-col pb-20">
      <PageHeader title="Nishant Bhagat" note="Love to do backend stuff." />
      <div class="flex items-center gap-4">
        <a
          href="https://x.com/nishantat17"
          target="_blank"
          class="relative hover:-translate-y-0.5 transition-[translate]"
        >
          <i class="hgi-stroke hgi-new-twitter" class:list={["text-2xl"]}> </i>
        </a>
        <a
          href="https://github.com/nishantat17"
          target="_blank"
          class="relative hover:-translate-y-0.5 transition-[translate]"
        >
          <i class="hgi-stroke hgi-github" class:list={["text-2xl"]}></i>
        </a>
        <a
          href="https://linkedin.com/in/nishantat17"
          target="_blank"
          class="relative hover:-translate-y-0.5 transition-[translate]"
        >
          <i class="hgi-stroke hgi-linkedin-01" class:list={["text-2xl"]}></i>
        </a>
      </div>
      <p
        class="mt-4 text-base font-noto-serif p-4 rounded-md bg-white inset-shadow-sm"
      >
        Hey everyone! I am a <em>Backend Developer</em> who builds with <b
          ><a href="https://cloord.com" target="_blank">Cloord</a></b
        > but <span class="bg-lime-200">open to hire</span>. I work with
        JavaScript technologies like TypeScript, Express, React, etc. and
        integrate them with PostgreSQL to deploy on AWS. If that's not enough I
        have little experience with Mobile Dev using Expo. That's all nerdy
        things; Somehow on the interesting side I'd like to play Ping Pong and
        Biking.
      </p>
    </section>

    <section class="mb-12">
      <h2 class="text-2xl font-semibold mb-4">Projects</h2>
      <div class="grid grid-cols-2 gap-4">
        <ProjectCard />
        <ProjectCard />
        <ProjectCard />
        <ProjectCard />
      </div>
    </section>

    <section class="mb-12">
      <h2 class="text-2xl font-semibold mb-4">Journal</h2>
      <div>
        <JournalItemHome
          title={testJournal?.data.title}
          id={testJournal?.id}
          content={testJournal?.body}
        />
      </div>
    </section>

    <section class="mb-12" id="contact">
      <h2 class="text-2xl font-semibold mb-4">Send Message</h2>
      <div>
        <form
          id="contact-form"
          class="flex flex-col gap-4"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <label id="name" class="text-base flex flex-col gap-2">
            Name
            <input
              type="text"
              name="name"
              id="name"
              class="border outline-none p-2 w-full sm:w-[400px] bg-white"
            />
          </label>

          <label id="email" class="text-base flex flex-col gap-2">
            Email
            <input
              type="email"
              name="email"
              id="email"
              class="border outline-none p-2 w-full sm:w-[400px] bg-white"
            />
          </label>

          <label id="phone_number" class="text-base flex flex-col gap-2">
            Phone Number
            <input
              type="text"
              name="phoneNumber"
              id="phone_number"
              class="border outline-none p-2 w-full sm:w-[400px] bg-white"
            />
          </label>

          <label for="message" class="text-base flex flex-col gap-2">
            Message
            <textarea
              name="message"
              id="message"
              rows="4"
              class="border outline-none p-2 w-full sm:w-[400px] bg-white"
            ></textarea>
          </label>

          {result?.error && <p>Failed to send message. Try again!</p>}

          <button
            type="submit"
            class="p-2 text-medium bg-black w-full sm:w-[400px] text-white font-medium"
            >Submit</button
          >
        </form>
      </div>
      <div class="flex items-center gap-2 mt-8">
        <a href="https://x.com/nishantat17" target="_blank"> X </a>
        <a href="https://github.com/nishantat17" target="_blank"> Github </a>
        <a href="https://linkedin.com/in/nishantat17" target="_blank">
          LinkedIn
        </a>
        <span> or Send Message.</span>
      </div>
    </section>
    <footer class="pb-12"></footer>
  </main>

  <script>
    import { actions } from "astro:actions";

    const form = document.querySelector("#contact-form");

    form?.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(form as HTMLFormElement);
      await actions.sendEmail(formData);
    });
  </script>
</Layout>
