---
import { getCollection } from "astro:content";
import Navbar from "../../components/Navbar.astro";
import { Font } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";
import JournalItem from "../../components/JournalItem.astro";

const journal = await getCollection("journal");
---

<Layout title="Articles">
    <Font cssVariable="--roboto" preload />
    <Navbar />
    <main class="px-4 max-w-screen-sm mx-auto">
        <PageHeader
            title="Jornal Archive"
            note="Where I document my Coding Journey."
        />
        <section class="grid grid-cols-1 gap-12">
            {
                journal.map((journalItem) => {
                    return <JournalItem item={journalItem} />;
                })
            }
        </section>
    </main>
</Layout>
