---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BlogItem from "../components/BlogItem.astro";

import { Font } from "astro:assets";

import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.sendEmail);

console.log(result);

export const prerender = false;
---

<Layout>
	<Font cssVariable="--roboto" />
	<Font cssVariable="--bitcount" />
	<Navbar />
	<main class="px-4 max-w-5xl mx-auto">
		<section id="hero" class="flex flex-col py-20">
			<h1 class="font-bitcount text-6xl sm:text-8xl transition-all">
				Nishant
			</h1>
			<h1 class="font-bitcount text-6xl sm:text-8xl transition-all">
				Bhagat
			</h1>
			<p class="font-bold mt-4 text-2xl">I am a Backend Developer</p>
		</section>

		<section class="mb-12">
			<h2 class="text-2xl font-semibold mb-4 font-jetbrains-mono">
				Projects
			</h2>
			<div
				class="flex items-center gap-4 overflow-x-scroll p-1 [&::-webkit-scrollbar]:hidden"
			>
				<ProjectCard />
				<ProjectCard />
				<ProjectCard />
				<ProjectCard />
			</div>
		</section>

		<section class="mb-12">
			<h2 class="text-2xl font-semibold mb-4 font-jetbrains-mono">
				Articles
			</h2>
			<div>
				<BlogItem />
			</div>
		</section>

		<section class="mb-12">
			<h2 class="text-2xl font-semibold mb-4 font-jetbrains-mono">
				Contact
			</h2>
			<div>
				<form
					id="contact-form"
					class="flex flex-col gap-4"
					method="post"
					enctype="application/x-www-form-urlencoded"
				>
					<label id="name" class="text-base flex flex-col gap-2">
						Name
						<input
							type="text"
							name="name"
							id="name"
							class="border outline-none p-2 w-full sm:w-[400px] bg-white"
						/>
					</label>

					<label id="email" class="text-base flex flex-col gap-2">
						Email
						<input
							type="email"
							name="email"
							id="email"
							class="border outline-none p-2 w-full sm:w-[400px] bg-white"
						/>
					</label>

					<label
						id="phone_number"
						class="text-base flex flex-col gap-2"
					>
						Phone Number
						<input
							type="text"
							name="phoneNumber"
							id="phone_number"
							class="border outline-none p-2 w-full sm:w-[400px] bg-white"
						/>
					</label>

					<label for="message" class="text-base flex flex-col gap-2">
						Message
						<textarea
							name="message"
							id="message"
							rows="4"
							class="border outline-none p-2 w-full sm:w-[400px] bg-white"
						></textarea>
					</label>

					<button
						type="submit"
						class="p-2 text-medium bg-black w-full sm:w-[400px] text-white font-medium"
						>Submit</button
					>
				</form>
			</div>
		</section>
	</main>
	<footer class="pb-12"></footer>
</Layout>

<script>
	import { actions } from "astro:actions";

	const form = document.querySelector("#contact-form");

	form?.addEventListener("submit", async (event) => {
		event.preventDefault();
		const formData = new FormData(form as HTMLFormElement);
		const { data, error } = await actions.sendEmail(formData);
		if (!error) {
			console.log("Something wrong");
		}
	});
</script>
