<div>
    <h3>Blog Title</h3>
    <p class="max-w-[80ch]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aperiam
        voluptatem voluptatum deserunt suscipit quas assumenda animi ducimus
        placeat cupiditate obcaecati amet maxime voluptate, ipsum excepturi,
        porro pariatur accusamus debitis.
    </p>
</div>
