<div class="flex flex-col gap-2">
    <a href="#">
        <h2 class="text-lg font-semibold tracking-tight underline">
            Some random title
        </h2>
    </a>
    <p class="max-w-[80ch] line-clamp-2 mt-1 font-inter">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
        libero, dicta labore repellendus nemo veritatis ea iusto rem aspernatur
        tenetur provident necessitatibus, sequi, voluptates distinctio id
        corporis repellat. Esse, maiores.
    </p>
</div>
