---
import { Font } from "astro:assets";
---

<nav class="px-4 py-4 fixed top-0 w-full backdrop-blur-sm">
    <Font cssVariable="--jetbrains-mono" preload />
    <ul
        class="flex items-center justify-center sm:justify-start gap-4 *:mr-4 max-w-5xl mx-auto font-jetbrains-mono"
    >
        <li>
            <a href="#hero">Home</a>
        </li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/articles">Articles</a></li>
        <li>Contact</li>
    </ul>
</nav>
