<div
    class="flex flex-col h-40 justify-end border bg-white border-gray-200 rounded-md"
>
    <div class="p-4 gap-1 flex flex-col">
        <h2 class="text-xl font-bold">Project Title</h2>
        <p>I am a project</p>
    </div>
</div>
