---
import { Font } from "astro:assets";
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";
import MarkdownHeader from "../components/MarkdownHeader.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Font cssVariable="--inter" />
  <Font cssVariable="--jetbrains-mono" />
  <Navbar />
  <div class="px-4 max-w-screen-sm mx-auto">
    <MarkdownHeader
      title={frontmatter.title}
      description={frontmatter.description}
      date={frontmatter.pubDate}
    />
    <main class="prose prose-p:font-inter">
      <slot />
    </main>
  </div>
  <div class="pb-12"></div>
</Layout>

<style>
  @reference "tailwindcss";
</style>
